/* Style the body element */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Style the h1 element */
h1 {
  text-align: left;
  color: black;
  background-color: #fdba1c;
  padding: 20px;
  font-size: 250%;
}

h2 {
  text-align: center;
}

  p {
    text-align: center;
    padding: 10px;
  }

/* Style the form element */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Style the input and select elements */
input, select {
  width: 250px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
}

/* Style the button element */
button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  color: black;
  background-color: #fdba1c;
  cursor: pointer;
}

/* Style the table element */
table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
}

/* Style the table header cells */
th {
  background-color: #fdba1c;
  color: black;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

/* Style the table data cells */
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #fdba1c;
}

/* Select every even row and make the background color light green */
tr:nth-child(even) {
  background-color: white;
}

#bottom {
  color: gray;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  margin: 10px;
  position: absolute;
}

#note {
  padding-top: 20px;
}

a {
  text-decoration: none;
}


@media screen and (max-width: 600px) {
  h1 {
    padding: 10px;
  }

  table {
    width: 95%;
  }

  form {
    display: block;
    margin: 10px;
  }
}